.body{
    display: grid;
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
}

#newbook{
    position: absolute;
    top:25%;
    left: 45%;
/*positon on newbook button*/
    cursor: pointer;
    font-size: 25px;
    font-weight: bolder;
    border-style: none;
    background-color: white;

}
.popup{
    position: absolute;
    top: -150%;
    left: 40%;
    opacity: 0;
    transform: translate(-50px,-50px) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    background: #fff;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}
.active{
    top: 25%;
    opacity: 1;
    transform: translate(-50px,-50px) scale(1.25);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;

}
.popup .close-btn{
    position: absolute;
    top:10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup h1{
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup #data-entry label,.popup #data-entry input{
    margin: 15px 0px;
}
.popup #data-entry label{
    font: 18px;
    color: #222;
}

.popup #data-entry input[type='text']{
    width: 100%;
    height: 20px;
    display: block;
}
.popup #data-entry label[for='Progress']{
    margin-left:25px
}

.popup #data-entry input[type='checkbox']{
    margin-left: 5px;
}

#submit{
    color: rgb(54, 54, 255);
    background-color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 3px;
    border-style: none;
    position: absolute;
    bottom: 2%;
    right: 5%;
    margin:2px;
    cursor: pointer;
}

#cards{
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr 1fr 1fr;
    gap: 160px;
    position: absolute;
    top:35%;
    left:5%;
}

#cards div {
    border-style:inset;
    border-color: black;
    border-width: 2px;
    border-radius: 15px;
    width:150%;
    height: 100%;
    position:relative;
    /*----------------------inner text---------------*/
    font-size: 20px;
    padding:15px;
    display: grid;
}

.remove ,.read-btn{
    font-size: 18px;
    font-weight: 600;
    width:100%;
    height:35px;
    align-self: end;
    justify-self: start;
    padding: 5px;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}
.remove{ 
    background-color: rgb(241, 130, 130);   
}
.read-btn{
    background-color: rgb(136, 206, 136);
    margin-bottom: -10px;
}